@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
	/*font-family: 'DotGothic16', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
	font-family: 'Anton', sans-serif;
}
html{
	/**/
	/*propriedades*/
	margin: 0;
    padding: 0;
	/*estilo*/
	background: rgb(255, 255, 255);
	
}
body{
    margin: 0;
}
.grid{
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(min-content, 100%);
    overflow: hidden;
   
}
.cartao{
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 10%;
    margin: 10px;
    border-radius: 20px;
	overflow: hidden;
    background:#fff;
}
.shadow{
	box-shadow: 12px 19px 40px black;
}
.menu{
	color: #fff;
	grid-area: 1 / 1 / span 1 / span 2;
	font-size: 14px;
	text-align: right;
	padding-top: 20px;
	z-index: 1;
	text-shadow: black 1px 1px 1px;
}
l{
	list-style: none;
	margin:15px 0 0 0;
}
.menu ul li{
	display: inline;
	margin-right: 10%;
}
.menu ul li:last-child{
	margin-right: 5%;
}
.ondas-grid{
	grid-area: 1 / 1 / span 1 / span 2;
}
.titulo{
	grid-area: 2 / 1 / span 1 / span 2;
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 2px 1px rgb(228 111 208), 4px 4px 10px rgb(0 0 0);
	z-index: 1;
	color: #fff;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
	
}
.subititulo{
	grid-area: 3 / 1 / span 1 / span 1;
	text-align: center;
	padding: 60px 0 0 20px;
}
.fundo-lateral{
	grid-area: 1 / 2 / span 4 / span 1;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 62% 100%);
	background:linear-gradient(180deg,rgba(0,0,0,0),#ff72c0 );;
}

.p-btn-7{
	grid-area: 4 / 1 / span 1 / span 1;
}
.btn-7{
	font-family: 'Poppins', sans-serif;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.btn-7 a{
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 12px 36px;
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,#755bea,#ff72c0 );
	/*#755bea,#ff72c0  /   #0162c8,#55e7fc*/
}
.btn-7 a span{
	position: absolute;
	background: #fff;
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 1s linear infinite;

}
.cor-btn-6 a{
	background: linear-gradient(90deg,#0162c8,#55e7fc);
}
.p-btn-6{
	grid-area: 4 / 2 / span 1 / span 1;
}



@media (max-width: 400px) {
	*{
		text-align: center;
	}
	.cartao{
		grid-template-columns: 100%;
		grid-template-rows: minmax(min-content, 0%);
	}
	.subititulo{
		padding: 0 10px 0 10px;
	}
	.p-btn-6{
		grid-area: 5 / 1 / span 1 / span 1;
	}
  }
  
 